root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = false

[*.{tf,tfvars,hcl}]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.{csproj,sln}]
indent_size = 2
indent_style = space